<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="dark">

    <header>
      <h1>My personal page</h1>
      <nav>
        <a href="/" class="dark">Home</a>
        <a href="/about" class="dark">About</a>
        <a href="/contact" class="dark">Contact</a>
        <a href="/info" class="dark">Info</a>
        <a href="/history" class="dark">History</a>
      </nav>
    </header>

    {{{ body }}}

    <footer>
      <p>All rights reserved<p>
    </footer>

  </body>
</html>